@use "normalize";
@use "font";
@use "variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Tinkoff Sans", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background: var(--bg-gradient);
  background-color: black;
}

@mixin glass-effect{
  border: var(--border-glass);
  background: var(--glass-bg);
  backdrop-filter: var(--glass-backdrop-filter);
  box-shadow: var(--glass-box-shadow);
}

@mixin content {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
}

:global {
  .ant-form-item {
    display: block !important;
  }

  .ant-form-item-row {
    display: block !important;
  }

  .ant-form-item-label {
    display: block !important;
    text-align: left !important;
  }

  .ant-form-item-control {
    display: block !important;
    width: 100% !important;
  }

  .ant-select-dropdown .ant-select-item,
  .ant-select-selection-item,
  .ant-picker,
  .ant-picker-cell {
    color: black !important;
  }
}