@use "normalize";
@use "font";
@use "variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Tinkoff Sans", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background: var(--bg-gradient);
  background-color: black;
}

@mixin glass-effect{
  border: var(--border-glass);
  background: var(--glass-bg);
  backdrop-filter: var(--glass-backdrop-filter);
  box-shadow: var(--glass-box-shadow);
}

@mixin content {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
}

:global {
  .ant-form-item {
    display: block !important;
  }

  .ant-form-item-row {
    display: block !important;
  }

  .ant-form-item-label {
    display: block !important;
    text-align: left !important;
  }

  .ant-form-item-control {
    display: block !important;
    width: 100% !important;
  }

  .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-picker-dropdown .ant-picker-header,
  .ant-picker-dropdown .ant-picker-date-panel .ant-picker-content th,
  .ant-picker-cell,
  .ant-picker-now-btn,
  .ant-picker-header button{
    color: white !important;
  }

  .ant-select-dropdown {
    background-color: rgba(var(--color-gray-rgb));
    border-color: rgba(255, 255, 255, 0.2);
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: var(--color-primary) !important;
    color: black !important;
    font-weight: 500 !important;
  }

  .ant-btn-color-dangerous.ant-btn-variant-outlined {
    background: #fd3133;
    color: white;
    border: none !important;
  }

  .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector,
  .ant-select-outlined.ant-select-status-error:not(.ant-select-customize-input) .ant-select-selector,
  .ant-picker-outlined,
  .ant-picker-outlined:hover,
  .ant-picker-outlined:focus-within {
    background: rgba(var(--color-gray-rgb), 0.5);
    border-color: rgba(255, 255, 255, 0.2);
  }

  .ant-select-selection-placeholder,
  .ant-picker-input input::placeholder, {
    color: var(--color-light-gray) !important;
  }

  .ant-select-arrow,
  .ant-picker-suffix {
    color: white !important;
  }

  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    background-color: var(--color-primary) !important;
    color: black !important;
  }

  .ant-picker-dropdown .ant-picker-panel,
  .ant-picker-panel-container{
    background: var(--color-gray) !important;
  }
}