@use "normalize";
@use "font";
@use "variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Tinkoff Sans", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background: var(--bg-gradient);
  background-color: black;
}

@mixin glass-effect{
  border: var(--border-glass);
  background: var(--glass-bg);
  backdrop-filter: var(--glass-backdrop-filter);
  box-shadow: var(--glass-box-shadow);
}