:root {
  // colors
  --color-gray: #2c3844;
  --color-gray--hover: #3a4a58;
  --color-light-gray: #cccac3;
  --color-primary: #f8d81c;
  --color-primary-hover: #f8d93e;

  // colors rgb
  --color-gray-rgb: 44, 56, 68;
  --color-gray--hover-rgb: 58, 74, 88;
  --color-light-gray-rgb: 204, 202, 195;
  --color-primary-rgb: 248, 216, 28;
  --color-primary-hover-rgb: 248, 217, 62;

  // glass effect
  --glass-bg: rgba(255, 255, 255, 0.1);
  --glass-backdrop-filter: blur(20px);
  --glass-box-shadow: inset 0 4px 8px 0 rgba(255, 255, 255, 0.2);

  // border
  --border-default: 1px solid rgb(255, 255, 255);
  --border-glass: 2px solid rgba(255, 255, 255, 0.2);

  // backgrounds
  --bg-gradient: radial-gradient(circle 50vw at 90% 10%, rgba(var(--color-primary-rgb), 0.5), transparent),
  radial-gradient(circle 60vh at 5% 100%, rgba(var(--color-primary-rgb), 0.3), transparent);

  [data-theme="light"] {
    --color-gray: #f0f0f0;
    --color-gray-rgb: 240, 240, 240;
    --color-light-gray: #666666;
    --glass-bg: rgba(0, 0, 0, 0.05);
    --border-glass: 2px solid rgba(0, 0, 0, 0.1);
  }

  body.light-theme {
    background: radial-gradient(circle 50vw at 90% 10%, rgba(248, 216, 28, 0.15), transparent),
    radial-gradient(circle 60vh at 5% 100%, rgba(248, 216, 28, 0.1), transparent);
    background-color: #f5f5f5;
  }
}