.navigationMobile {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navButton {
  all: unset;
  padding: 1rem;
  cursor: pointer;

  svg {
    fill: var(--text-primary);
    stroke: none;
  }
}

[data-theme='light'] {
  .navButton svg {
    fill: #000000;
    stroke: none;
  }
}
