@import '@app/styles';



.channelItem {
  @include glass-effect;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.2s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}

.channelName {
  font-size: 1rem;
  color: white;
}