.subscriptionCard {
  &Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &Name {
    font-size: 1rem;
    font-weight: 500;
  }

  &Charge {
    font-size: 0.875rem;
    color: var(--color-primary);
  }

  &Date {
    font-size: 0.875rem;
    margin-bottom: 17px;
    color: var(--color-primary);
  }

  &Price {
    font-size: 1.25rem;
    font-weight: 500;
  }
}