@import '@app/styles';

.homeLayout {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin content {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
}

.content {
  @include content;
  padding: 2rem 1rem 6rem;
}

@mixin navWrapper {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
}

.navMobileWrapper {
  @include navWrapper;
  @include glass-effect;
  height: 4.5rem;
  bottom: 0;
}

.navDesktopContainer {
  display: none;
  @include navWrapper;
  @include glass-effect;
  height: 80px;
  top: 0;
  align-items: center;
  justify-content: center;
}

.navDesktopWrapper {
  @include content;
  padding: 0 0.5rem;
}

@media screen and (min-width: 768px) {
  .navMobileWrapper {
    display: none;
  }

  .navDesktopContainer {
    display: flex;
  }

  .content {
    padding: 7rem 1rem 2rem;
  }
}
