.navigationDesktop {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navButton {
  all: unset;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.8;

  &__label{
    font-size: 18px;
    line-height: 20px;
  }
}