@import '@app/styles';

.notificationsPage {
  padding: 16px;
  color: white;
}

.pageTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 24px;
  color: white;
}

.sectionTitle {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.paymentsList,
.remindersList,
.channelsList {
  margin-top: 16px;
  margin-bottom: 34px;
}