.authLayout {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  @media (max-height: 600px) {
    align-items: flex-start;
    padding-top: 40px;
  }
}